<html>
<head>
	<title>Daddies Date Babbies - A Documentary into the World of Suger Babies</title>
  <link rel="stylesheet" href="/css/foundation.min.css" type="text/css" media="screen">
  <link rel="stylesheet" href="/css/normalize.css" type="text/css" media="screen">
  <script src="/js/foundation.min.js"></script>
</head>
<body>
<div class="call-to-action">
<a href="" class="button">SIGN-UP NOW</a>
</div>
  <div class="topnav fr text-right">
    <ul class="menu inline-list">
      <li><a href="mailto:daddiesdatebabies@gmail.com">Trailer</a></li>
      <li><a href="mailto:daddiesdatebabies@gmail.com">Producer</a></li>
      <li><a href="mailto:daddiesdatebabies@gmail.com">Press</a></li>
      <li><a href="mailto:daddiesdatebabies@gmail.com">Contact</a></li>
    </ul>
  </div>
<!-- End topnav -->
<div class="hero large-12">
  <div class="row ">
    <div class="large-centered margin-top column text-center">
      <img src="/img/logo-sm.png" alt="">
      <h1 class="upcase">Daddies Date Babies</h1>
      <h2>A short documentary on <b>Sugar-Dating</b> in New York City</h2>
    </div>
  </div>
</div>
<div class="image-background large-12 homeroom"></div>
<div class="section-text text-center row">
  <div class="large-8 column large-centered margin-top-half">
    <p>Sugar-Dating is a growing trend universities around the United States.</p>
    <p>Unavoidable debt force young woman to answer deep ethical questions. Is it wrong to desire financial freedom? An industry associated with the confines of urban poverty is closer to home than anyone realized.</p>
    <p>This documentary explores the reality behind Suger-Dating.</p>
  </div>
  <div class="large-11 column large-centered margin-top-half">
    <ul class="sugerpoint large-block-grid-2 text-left">
      <li>Is Sugar-Dating sex work?</li>
      <li>Who are Sugar Babies?</li>
      <li>Who are Sugar Daddies?</li>
      <li>What drives transactional relationships?</li>
      <li>What do these relationships say about society?</li>
    </ul>
  </div>
</div>
<!-- End of points -->
  <div class="head-intro text-center">
    <h1>WATCH THE TRAILER</h1>
    <div class="row">
      <div class="large-6 column vert-line"></div>
      <div class="large-6 column"></div>
    </div>
  </div>
    <div class="margin-top-quarter flex-video widescreen vimeo">
      <iframe src="//player.vimeo.com/video/104266623?title=0&amp;byline=0&amp;portrait=0" width="1800" height="812" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <div class="margin-top head-intro text-center">
      <h1>INTERVIEWS WITH SUGERBABIES FROM</h1>
      <div class="row">
        <div class="large-6 column vert-line"></div>
        <div class="large-6 column"></div>
      </div>
    </div>
    <div class="margin-top-quarter large-7 column large-centered">
      <ul class="large-block-grid-4">
        <li>
          <img src="http://www.freelogovectors.net/wp-content/uploads/2012/05/princeton-university-logo.jpg" class="logo">
        </li>
        <li>
          <img src="http://www.cns.nyu.edu/~goldwyn/nyu.jpg" class="logo">
        </li>
        <li>
          <img src="http://www.collegeview.com/collegesearch/supermatch/images/schoolLogos/5519023.gif" class="logo">
        </li>
        <li>
          <img src="http://anthropology.commons.gc.cuny.edu/wp-content/blogs.dir/801/files/2013/01/gc-logo.gif" class="logo">
        </li>
      </ul>
    </div>
  <!-- End interviewing from -->
  <div class="inverse-color">
    <div class="row"></div>
    <div class="margin-top-half head-intro text-center">
      <h1>WHAT PEOPLE ARE SAYING</h1>
      <div class="row">
        <div class="large-6 column vert-line"></div>
        <div class="large-6 column"></div>
      </div>
    </div>
    <div class="margin-top-quarter large-7 column large-centered">
      <ul class="large-block-grid-3 text-center white">
        <li>Huffington Post</li>
        <li>Guardian</li>
        <li>Refinery29</li>
      </ul>
    </div>
  </div>

	<%= yield %>
</body>
</html>
