<html>
<!--
  Design is unappologetically taken from the successful
  KickStarter project on Electric Objects.

  The development work was done by Leonard K. Bogdonoff (@rememberlenny).
 -->
<head>
	<title>Daddies Date Babbies - A Documentary into the World of Suger Babies</title>
  <link rel="stylesheet" href="/css/foundation.min.css" type="text/css" media="screen">
  <link rel="stylesheet" href="/css/normalize.css" type="text/css" media="screen">
  <link rel="icon"
      type="image/png"
      href="/favicon.png">
  <script src="/js/foundation.min.js"></script>
</head>
<body>
<div class="call-to-action">
<a href="http://daddiesdatebabies.com" class="button">SUPPORT NOW</a>
</div>
  <div class="topnav fr text-right">
    <ul class="menu inline-list">
      <li><a href="#trailer">Trailer</a></li>
      <li><a href="mailto:daddiesdatebabies@gmail.com">Producer</a></li>
      <li><a href="mailto:daddiesdatebabies@gmail.com">Press</a></li>
      <li><a href="mailto:daddiesdatebabies@gmail.com">Contact</a></li>
    </ul>
  </div>
<!-- End topnav -->
<div class="hero large-12">
  <div class="row ">
    <div class="large-centered margin-top column text-center">
      <img src="/img/logo-sm.png" alt="">
      <h1 class="upcase">Daddies Date Babies</h1>
      <h2>A short documentary on <b>Sugar-Dating</b> in New York City</h2>
    </div>
  </div>
</div>
<div class="image-background large-12 homeroom"></div>
<div class="section-text text-center row">
  <div class="large-8 column large-centered margin-top-half">
    <p>Sugar-Dating is a growing trend universities around the United States.</p>
    <p>Unavoidable debt force young woman to answer deep ethical questions. Is it wrong to desire financial freedom? An industry associated with the confines of urban poverty is closer to home than anyone realized.</p>
    <p>This documentary explores the reality behind Suger-Dating.</p>
  </div>
  <div class="large-11 column large-centered margin-top-half">
    <ul class="sugerpoint large-block-grid-2 text-left">
      <li>Who are Sugar Babies?</li>
      <li>Who are Sugar Daddies?</li>
      <li>Is Sugar-Dating sex work?</li>
      <li>What drives transactional relationships?</li>
      <li>What do these relationships say about society?</li>
    </ul>
  </div>
</div>
<!-- End of points -->
  <div class="head-intro text-center">
    <h1>WATCH THE TRAILER</h1>
    <div class="row">
      <div class="large-6 column vert-line"></div>
      <div class="large-6 column"></div>
    </div>
  </div>
    <div class="margin-top-quarter flex-video widescreen vimeo" id="trailer">
      <iframe src="//player.vimeo.com/video/104266623?title=0&amp;byline=0&amp;portrait=0" width="1800" height="812" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <div class="margin-top head-intro text-center">
      <h1>INTERVIEWS WITH SUGERBABIES FROM</h1>
      <div class="row">
        <div class="large-6 column vert-line"></div>
        <div class="large-6 column"></div>
      </div>
    </div>
    <div class="margin-top-quarter large-7 column large-centered">
      <ul class="large-block-grid-4">
        <li>
          <img src="http://www.freelogovectors.net/wp-content/uploads/2012/05/princeton-university-logo.jpg" class="logo">
        </li>
        <li>
          <img src="http://www.cns.nyu.edu/~goldwyn/nyu.jpg" class="logo">
        </li>
        <li>
          <img src="http://www.collegeview.com/collegesearch/supermatch/images/schoolLogos/5519023.gif" class="logo">
        </li>
        <li>
          <img src="http://anthropology.commons.gc.cuny.edu/wp-content/blogs.dir/801/files/2013/01/gc-logo.gif" class="logo">
        </li>
      </ul>
    </div>
  <!-- End interviewing from -->
  <div class="inverse-color margin-top">
    <div class="row"></div>
    <div class="margin-top-half head-intro text-center">
      <h1>WHAT PEOPLE ARE SAYING</h1>
      <div class="row">
        <div class="large-6 column vert-line"></div>
        <div class="large-6 column"></div>
      </div>
    </div>
    <div class="margin-top-quarter large-7 column large-centered margin-bottom-half">
      <ul class="large-block-grid-2 text-center white">
        <li><a href="http://www.huffingtonpost.com/2014/08/28/princeton-mom-sugar-babies_n_5732722.html"><img src="http://www.astronomycafe.net/HuffingtonLogo.jpg" alt=""></a></li>
        <li><a href="http://jezebel.com/princeton-mom-does-not-want-the-good-princeton-name-nea-1628088381"><img src="http://i.kinja-img.com/gawker-media/image/upload/s--yXgvtNhw--/ajqokcwiii3njpdtvgpv.png" alt=""></a></li>
      </ul>
      <ul class="no-bullet white text-center quotelist margin-top-half">
<li>
  “Sucking dick is a means to an end” <p class="attri">- <span class="unline">an NYU sugar baby</span></p>
</li>
<li>
  “A woman wants a man who can take care of her needs, if you have money and you’re showing it off, you’re like a peacock spreading its wings” <p class="attri">- <span class="unline">Brandon Wa</de, SeekingArrangent.com CEO</p>
</li>
<li>
  “[Dating sugar daddies] is like dating. It’s a dating with perks” <p class="attri">- <span class="unline">a Sugar Baby </interviewed on Good Morning Ame</span>rica
</li>
<li>
  “This is disgraceful.” <p class="attri">- <span class="unline">Susan Patton</span></p>
</li>
<li>
  Female college students made up 44% of an online dating site. <p class="attri">- <span class="unline">CNN</span></p>
</li>
<li>
  NYU was #1. Harvard made the top 10. <p class="attri">- <span class="unline">ABCNews</span></p>
</li>
      </ul>
    </div>
    <div class="row"></div>
  </div>


    <div class="row"></div>
    <div class="margin-top-half head-intro text-center two-section">
      <div class="row">
      <div class="large-6 column">
        <img src="/img/bar-conversation.jpg" alt="">
      </div>
      <div class="large-6 column">
        <h1>VIEW INTO SUGERBABIES MEETING SUGERDADDIES</h1>
        <p>Documented interactions between Suger-Babies and their Suger-Daddies.</p>
      </div>
      </div>

      <div class="margin-top-half"></div>
      <div class="row">

      <div class="row margin-top-half">
        <div class="large-6 column">
          <h1>DAY TO DAY LIFE FOR SUGER-BABIES</h1>
          <p>Revealing the reality resulting from the causes and effects of being a Suger-Babie.</p>
        </div>

        <div class="large-6 column">
          <img src="/img/iphone-conversation-small.jpg" alt="">
        </div>
      </div>

      <div class="margin-top-half"></div>
      <div class="row">
        <div class="large-6 column">
          <img src="/img/bedshot-unwield.jpg" alt="">
        </div>
       <div class="large-6 column">
          <h1>PERSONAL CONVERSATIONS WITH SUGER-BABIES</h1>
          <p>One-on-one conversations with Suger-Babies as they share their perspective, motives, and struggles.</p>
        </div>
      </div>

      <div class="margin-top-half"></div>
    </div>


	<%= yield %>
  <div class="footer text-left">
    <div class="row margin-top">
    <div class="margin-top-half"></div>

      <div class="large-3 column">
        <img src="/img/logo-sm-white.png" class="half-img" alt="">
        <p class="white">
          <b class="white">About</b>
        </p>
        <p class="white">Daddies Date Babies [DDB] is a documentary about Sugar-Baby/Sugar-Daddy dating, portrayed through the stories of 5 highly-educated, student-age women living in NYC.</p>
      </div>
      <div class="large-3 column">
        <img src="/img/logo-sm.png" class="half-img invisible" alt="">
        <ul class="no-bullet white">
          <li>
          <p class="white">
            <b>Contact</b>
          </p>
          </li>
          <li><a href="mailto:daddiesdatebabies@gmail.com">daddiesdatebabies@gmail.com</a></li>

        </ul>
      </div>
      <div class="large-3 column">
        <img src="/img/logo-sm.png" class="half-img invisible" alt="">
        <ul class="no-bullet white">
          <li>
          <p class="white">
            <b>Follow</b>
          </p>
          </li>
          <li><a href="https://twitter.com/daddiesdatebb">Twitter</a></li>
          <li><a href="http://daddiesdatebabies.tumblr.com/">Tumblr</a></li>

        </ul>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</body>
</html>
